# Resources required by the sample browser and most samples.
[Essential]
Zip=resources/packs/SdkTrays.zip
Zip=resources/packs/profiler.zip
FileSystem=resources/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
#FileSystem=resources/fonts
#FileSystem=resources/materials/programs
#FileSystem=resources/materials/programs/GLSL
#FileSystem=resources/materials/scripts
#FileSystem=resources/materials/textures
#FileSystem=resources/materials/textures/nvidia
#FileSystem=resources/models
#FileSystem=resources/particle
#FileSystem=resources/DeferredShadingMedia
#FileSystem=resources/PCZAppMedia
#FileSystem=resources/RTShaderLib
#FileSystem=resources/RTShaderLib/materials
#FileSystem=resources/materials/scripts/SSAO
#FileSystem=resources/materials/textures/SSAO
#FileSystem=resources/volumeTerrain
#Zip=resources/packs/cubemap.zip
#Zip=resources/packs/cubemapsJS.zip
#Zip=resources/packs/dragon.zip
#Zip=resources/packs/fresneldemo.zip
#Zip=resources/packs/ogretestmap.zip
#Zip=resources/packs/ogredance.zip
#Zip=resources/packs/Sinbad.zip
#Zip=resources/packs/skybox.zip
#Zip=resources/volumeTerrain/volumeTerrainBig.zip
Zip=resources/packs/Human.zip
Zip=resources/packs/GenericMale-01.zip

[General]
FileSystem=resources
