# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
Zip=resources/GenericMale-01.zip

[General]
FileSystem=resources
